{% extends 'base.html.twig' %}

{% block title %}Course: {{ course.title }}{% endblock %}

{% block body %}
<div class="row row-cards">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">{{ course.title }}</h3>
            </div>
            <div class="card-body">
                {# Note: If 'description' gives an error, try 'fullDescription' or 'shortDescription' depending on your Entity #}
                <p>{{ course.description }}</p>
                
                <div class="mt-3">
                    <span class="badge bg-blue">{{ course.price }} DT</span>
                    {% if course.category is defined and course.category %}
                        <span class="badge bg-green">{{ course.category.name }}</span>
                    {% endif %}
                </div>
            </div>
            
            <div class="card-footer d-flex align-items-center">
                <a href="{{ path('app_course_index') }}" class="btn btn-secondary me-2">Back to list</a>

                {# START: Enrollment Logic #}
                {% if app.user %}
                    {# The form submits to the Enroll Controller we just created #}
                    <form action="{{ path('app_enrollment_enroll', {'id': course.id}) }}" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-success">
                            Enroll Now
                        </button>
                    </form>
                {% else %}
                    <a href="{{ path('app_login') }}" class="btn btn-primary">
                        Login to Enroll
                    </a>
                {% endif %}
                {# END: Enrollment Logic #}
            </div>
        </div>
    </div>
</div>
{% endblock %}